pysindy/
.DS_Store
.vscode/Sindy/Training/results/
Sindy/Training/results/sindy_hyperopt_*/sindy_hyperopt_results.json
wandb/
monitor/
requirements.txt
Environment/dollhouse_env1.py
Environment/results/ppo_20250625_124526/
*.pyc